/* Basier Circle */

@font-face {
	font-family: 'Basier Circle';
	src: url('./Basier/basiercircle-bolditalic-webfont.eot');
	src: url('./Basier/basiercircle-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
		url('./Basier/basiercircle-bolditalic-webfont.woff2') format('woff2'),
		url('./Basier/basiercircle-bolditalic-webfont.woff') format('woff'),
		url('./Basier/basiercircle-bolditalic-webfont.ttf') format('truetype');
	font-weight: 900;
	font-style: italic;

}

@font-face {
	font-family: 'Basier Circle';
	src: url('./Basier/basiercircle-bold-webfont.eot');
	src: url('./Basier/basiercircle-bold-webfont.eot?#iefix') format('embedded-opentype'),
		url('./Basier/basiercircle-bold-webfont.woff2') format('woff2'),
		url('./Basier/basiercircle-bold-webfont.woff') format('woff'),
		url('./Basier/basiercircle-bold-webfont.ttf') format('truetype');
	font-weight: 900;
	font-style: normal;

}

@font-face {
	font-family: 'Basier Circle';
	src: url('./Basier/basiercircle-mediumitalic-webfont.eot');
	src: url('./Basier/basiercircle-mediumitalic-webfont.eot?#iefix') format('embedded-opentype'),
		url('./Basier/basiercircle-mediumitalic-webfont.woff2') format('woff2'),
		url('./Basier/basiercircle-mediumitalic-webfont.woff') format('woff'),
		url('./Basier/basiercircle-mediumitalic-webfont.ttf') format('truetype');
	font-weight: 500;
	font-style: italic;

}

@font-face {
	font-family: 'Basier Circle';
	src: url('./Basier/basiercircle-medium-webfont.eot');
	src: url('./Basier/basiercircle-medium-webfont.eot?#iefix') format('embedded-opentype'),
		url('./Basier/basiercircle-medium-webfont.woff2') format('woff2'),
		url('./Basier/basiercircle-medium-webfont.woff') format('woff'),
		url('./Basier/basiercircle-medium-webfont.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;

}

@font-face {
	font-family: 'Basier Circle';
	src: url('./Basier/basiercircle-regularitalic-webfont.eot');
	src: url('./Basier/basiercircle-regularitalic-webfont.eot?#iefix') format('embedded-opentype'),
		url('./Basier/basiercircle-regularitalic-webfont.woff2') format('woff2'),
		url('./Basier/basiercircle-regularitalic-webfont.woff') format('woff'),
		url('./Basier/basiercircle-regularitalic-webfont.ttf') format('truetype');
	font-weight: 300;
	font-style: italic;

}

@font-face {
	font-family: 'Basier Circle';
	src: url('./Basier/basiercircle-regular-webfont.eot');
	src: url('./Basier/basiercircle-regular-webfont.eot?#iefix') format('embedded-opentype'),
		url('./Basier/basiercircle-regular-webfont.woff2') format('woff2'),
		url('./Basier/basiercircle-regular-webfont.woff') format('woff'),
		url('./Basier/basiercircle-regular-webfont.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;

}

@font-face {
	font-family: 'Basier Circle';
	src: url('./Basier/basiercircle-semibolditalic-webfont.eot');
	src: url('./Basier/basiercircle-semibolditalic-webfont.eot?#iefix') format('embedded-opentype'),
		url('./Basier/basiercircle-semibolditalic-webfont.woff2') format('woff2'),
		url('./Basier/basiercircle-semibolditalic-webfont.woff') format('woff'),
		url('./Basier/basiercircle-semibolditalic-webfont.ttf') format('truetype');
	font-weight: 600;
	font-style: italic;

}

@font-face {
	font-family: 'Basier Circle';
	src: url('./Basier/basiercircle-semibold-webfont.eot');
	src: url('./Basier/basiercircle-semibold-webfont.eot?#iefix') format('embedded-opentype'),
		url('./Basier/basiercircle-semibold-webfont.woff2') format('woff2'),
		url('./Basier/basiercircle-semibold-webfont.woff') format('woff'),
		url('./Basier/basiercircle-semibold-webfont.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;

}


/* Basier Square */

@font-face {
	font-family: 'Basier Square';
	src: url('./Basier/basiersquare-bolditalic-webfont.eot');
	src: url('./Basier/basiersquare-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
		url('./Basier/basiersquare-bolditalic-webfont.woff2') format('woff2'),
		url('./Basier/basiersquare-bolditalic-webfont.woff') format('woff'),
		url('./Basier/basiersquare-bolditalic-webfont.ttf') format('truetype');
	font-weight: 900;
	font-style: italic;

}

@font-face {
	font-family: 'Basier Square';
	src: url('./Basier/basiersquare-bold-webfont.eot');
	src: url('./Basier/basiersquare-bold-webfont.eot?#iefix') format('embedded-opentype'),
		url('./Basier/basiersquare-bold-webfont.woff2') format('woff2'),
		url('./Basier/basiersquare-bold-webfont.woff') format('woff'),
		url('./Basier/basiersquare-bold-webfont.ttf') format('truetype');
	font-weight: 900;
	font-style: normal;

}

@font-face {
	font-family: 'Basier Square';
	src: url('./Basier/basiersquare-mediumitalic-webfont.eot');
	src: url('./Basier/basiersquare-mediumitalic-webfont.eot?#iefix') format('embedded-opentype'),
		url('./Basier/basiersquare-mediumitalic-webfont.woff2') format('woff2'),
		url('/assets/fonts/basiersquare-mediumitalic-webfont.woff') format('woff'),
		url('/assets/fonts/basiersquare-mediumitalic-webfont.ttf') format('truetype');
	font-weight: 500;
	font-style: italic;

}

@font-face {
	font-family: 'Basier Square';
	src: url('./Basier/basiersquare-medium-webfont.eot');
	src: url('./Basier/basiersquare-medium-webfont.eot?#iefix') format('embedded-opentype'),
		url('./Basier/basiersquare-medium-webfont.woff2') format('woff2'),
		url('./Basier/basiersquare-medium-webfont.woff') format('woff'),
		url('./Basier/basiersquare-medium-webfont.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;

}

@font-face {
	font-family: 'Basier Square';
	src: url('./Basier/basiersquare-regularitalic-webfont.eot');
	src: url('./Basier/basiersquare-regularitalic-webfont.eot?#iefix') format('embedded-opentype'),
		url('./Basier/basiersquare-regularitalic-webfont.woff2') format('woff2'),
		url('./Basier/basiersquare-regularitalic-webfont.woff') format('woff'),
		url('./Basier/basiersquare-regularitalic-webfont.ttf') format('truetype');
	font-weight: 300;
	font-style: italic;

}

@font-face {
	font-family: 'Basier Square';
	src: url('./Basier/basiersquare-regular-webfont.eot');
	src: url('./Basier/basiersquare-regular-webfont.eot?#iefix') format('embedded-opentype'),
		url('./Basier/basiersquare-regular-webfont.woff2') format('woff2'),
		url('./Basier/basiersquare-regular-webfont.woff') format('woff'),
		url('./Basier/basiersquare-regular-webfont.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;

}

@font-face {
	font-family: 'Basier Square';
	src: url('./Basier/basiersquare-semibolditalic-webfont.eot');
	src: url('./Basier/basiersquare-semibolditalic-webfont.eot?#iefix') format('embedded-opentype'),
		url('./Basier/basiersquare-semibolditalic-webfont.woff2') format('woff2'),
		url('./Basier/basiersquare-semibolditalic-webfont.woff') format('woff'),
		url('./Basier/basiersquare-semibolditalic-webfont.ttf') format('truetype');
	font-weight: 600;
	font-style: italic;

}

@font-face {
	font-family: 'Basier Square';
	src: url('./Basier/basiersquare-semibold-webfont.eot');
	src: url('./Basier/basiersquare-semibold-webfont.eot?#iefix') format('embedded-opentype'),
		url('./Basier/basiersquare-semibold-webfont.woff2') format('woff2'),
		url('./Basier/basiersquare-semibold-webfont.woff') format('woff'),
		url('./Basier/basiersquare-semibold-webfont.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;

}